/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
  text-align: center;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}


.img-skill{
  padding: 10rem;
}


.thumb-div{
  padding: 1rem;
}

.thumbnail-design {
  padding: 0.5rem;
}



.codeCards {
  display: inline-block;
  margin: auto;
}

#myChart {
  width: 100%;
  height: 70%;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.myName {
  text-align: center;
  animation-duration: 3s;
}

.expeTitle {
  padding-left: inherit;
}

.positionText {
  padding-left: inherit;
  font-size: 1.2rem;
}

.descriptJob {
  text-align: left;
  line-height: 1.3;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}

.dateText {
  text-align: left;
  color: dimgray;
}

#navBar-icons{
  line-height: 59px;
}

.myName, .brand-logo{
  font-family: 'Kaushan Script', cursive;
}
